<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2012 Research In Motion Limited.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0"  id="DojoAppDetails" xml:lang="en">
  <author href="http://www.blackberry.com/" 
          rim:copyright="Copyright 2012 RIM">RIM</author>
  <name>Dojo App Details</name>
  <description>Sample Dojo app showing app details</description>

  <access uri="http://ajax.googleapis.com" subdomains="true"/>
  <content src="index.html"/>
  <feature id="blackberry.app"/>

</widget>