<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright 2010-2012 Research In Motion Limited.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0" id="CameraSampleApp"> 
    <name>Sample Camera</name>
    <author rim:copyright="2012"
            href="http://www.rim.com/"
            email = "daudino@rim.com">Daniel Audino</author>
    <description>This application demonstrates HTML5 media capture and Uploading files via XHR2.</description>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at
            http://www.apache.org/licenses/LICENSE-2.0
        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and limitations under the License.
    </license>
    <content src="index.html"/>
    <rim:permissions> 
        <rim:permit>use_camera</rim:permit>
         <rim:permit>access_shared</rim:permit>
    </rim:permissions>   
     <access uri="http://your-ip-address" subdomains="true" />
</widget>