<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright 2013 BlackBerry Ltd.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 express or implied. See the License for the specific language
 governing permissions and  limitations under the License.
-->
  <widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0"
        id="com.blackberry.sample.facebookoauth">
    <name>Facebook OAuth Sample</name>
    <author email="no-reply@blackberry.com" href="http://developer.blackberry.com">
        BlackBerry Canada
    </author>
    <icon src="images/icon.png"/>
    <rim:splash src="images/splash-1280x768.png"/>
    <rim:splash src="images/splash-1280x720.png"/>
    <rim:splash src="images/splash-720x720.png"/>
    <access origin="*" />
    <content src="local:///index.html" />
    <preference name="websecurity" value="disable" />
    <feature id="blackberry.app" >
      <param name="websecurity" value="disable" />
    </feature>
  </widget>

