<?xml version='1.0' encoding='utf-8'?>
<widget id="Sensors" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sensors</name>
    <description>Sample Application to show Sensors API</description>
    <author email="@timothywindsor" href="http://www.blackberry.com/developers">Tim Windsor</author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="images/icon.png"/>
    <rim:permissions>
        <rim:permit>run_when_backgrounded</rim:permit>
    </rim:permissions>
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xff262626"/>
</widget>
