<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.0"
        id="InvokeCard">
    <name>InvokeCard</name>
    <content src="index.htm"/>
     <author>self</author>
    <description>This app tests the invoke API.</description>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke.card" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoked" required="true" version="1.0.0.0"/>
       <feature id="blackberry.app.orientation">
        <param name="mode" value="portrait"/>
    </feature>
    <access uri="*"/>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">My License</license>

	<rim:permissions>
		<rim:permit>access_shared</rim:permit>
	</rim:permissions>
</widget>
