<?xml version="1.0" encoding="UTF-8"?>

<!--
 * Copyright (c) 2012 Research In Motion Limited.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 *
 * You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0"
        id="mediacards"
        xml:lang="en">

	<!-- Application details. -->
    <name>Media Cards</name>
    <author>Research In Motion</author>

	<!-- Application startup page. -->
    <content src="index.html"/>

	<!-- Application icon. -->
	<icon src="appicon.png" />

	<!-- Allow access to external URLs. -->
    <access uri="*" subdomains="true" />

	<!-- Do not cache content. -->
    <rim:cache disableAllCache="true" />

	<!-- Focus-based navigation for BBUI.js. -->
	<rim:navigation mode="focus" />

	<!-- Required permissions. -->
	<rim:permissions>
	</rim:permissions>

	<!-- Required features for BBUI.js. -->
	<feature id="blackberry.app" />
	<feature id="blackberry.app.event"/>
	<feature id="blackberry.system.event" />
	<feature id="blackberry.ui.dialog" />
	
	<!-- Additional features. -->
	<feature id="blackberry.invoke" />
	<feature id="blackberry.invoke.card" />
</widget>