<!--
* Copyright 2012 Research In Motion Limited.
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="0.0.1" id="layout.samples">

	<author rim:copyright="2012"
            href="http://www.rim.com/"
            email = "abashkhaz@rim.com">Anzor Bashkhaz</author>  

	<name>Layout Samples</name>
	<description>Layout Samples</description>
	<feature id="blackberry.app">
    	<param name="backgroundColor" value="0xff181818" />
	</feature>
	<content src="box\index.html"></content>
</widget>