#graph {
	width: 100%;
	height: 1110px;
	margin-top: 10px;
}

@media all and (device-aspect-ratio: 1/1) {
	#graph {
		height: 580px;
	}
}

#sensorScreen, #options, #menu {
	background-color: #262626;
	color: #fff;
}

.flotr-titles {
	color: #00A8DF;
}