<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" id="EriksSampleInjector" version="0.5.1">
  <name>Sample Injection App</name>
  <author>Erik Johnson</author>
  <description/>
  <feature id="injector" required="true" version="1.0.0.0"/>
  <access uri="*" subdomains="true"/>
  <access uri="http://ca.blackberry.com" subdomains="true"/>
  <access uri="http://ca.blackberry.com" subdomains="true">
    <feature id="injector" required="true" version="1.0.0.0"/>
  </access>
  <rim:permissions>
    <rim:permit>run_when_backgrounded</rim:permit>
  </rim:permissions>
  <content src="http://blackberry.com">
  </content>
</widget>
