<?xml version="1.0" encoding="UTF-8"?>

<!--
 * Copyright 2012 Research In Motion Limited.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0" rim:header="RIM-Widget:rim/widget" xmlns="http://www.w3.org/ns/widgets" id="pushcapture">
  <name>Push Capture</name>
  <description>Captures incoming pushes.</description>
  <author rim:copyright="Copyright 2012 Research In Motion Limited, unless otherwise noted." href="http://us.blackberry.com/developers/platform/pushapi.jsp">Research In Motion Limited</author>
  <icon src="Images/pushCaptureIcon.png" />
  <rim:splash src="Images/pushCaptureSplash.png" />
  <content src="index.htm" />
  
  <!-- Need to allow access to your externally accessible Push Initiator URL if using the Push Service SDK high-level APIs (with subscription support) -->
  <!-- Replace "externally_accessible_Push_Initiator_URL" with your own domain name -->
  <access uri="https://externally_accessible_Push_Initiator_URL" subdomains="true" />
  
  <feature id="blackberry.app.orientation">
    <param name="mode" value="portrait" />
  </feature>
  <feature id="blackberry.push" />
  <feature id="blackberry.system" />
  <feature id="blackberry.invoked" />
  <feature id="blackberry.ui.dialog" />
  
  <!-- Need to put an invoke entry here for push -->
  <!-- The id here must match the invokeTargetId passed in as one of the ops to blackberry.push.PushService.create -->
  <rim:invoke-target id="sample.pushcapture.invoke.target">
    <entry-point>1</entry-point>
    <type>APPLICATION</type>
    <filter>
      <action>bb.action.PUSH</action>
      <mime-type>application/vnd.push</mime-type>
    </filter>
  </rim:invoke-target>
</widget>