$include-pictos-font: false;

@import "sencha-touch/bb10";
@import "sencha-touch/bb10/all";

@include bb-icon('add_favorite');
@include bb-icon('copy');
@include bb-icon('select_more');
@include bb-icon('view_grid');
@include bb-icon('done');
@include bb-icon('add_to_contacts');
@include bb-icon('search');
@include bb-icon('bbm');
@include bb-icon('settings');